<p id="notice"><%= notice %></p>

<br> <br/>

<h3>Date and Time</h3>
<body>
<span id="cg"></span>
<script>
setInterval("cg.innerHTML=new Date().toLocaleString()",1000);
</script>
<br> <br/>
</body>

<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>

<br> <br/>

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <br> <br/>
  <div id="form">
    <%= render "todo_items/form"%>
  </div>
</div>


<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> 
<%= link_to 'Back', todo_lists_path %>
